button {
    margin: 3px;
    padding: 4px;
}
#blueSpace{
    width: 450px;
    height: 175px;
    background-color: blue;
    position: absolute;
}
#fontofblueSpace{
    font-size: 30px;
    position: absolute;
}