#div1 {
    margin-left: auto;
    margin-right: auto;
}

#div2 {
    margin-left: auto;
    margin-right: auto;
}

#div3 {
    margin-left: auto;
    margin-right: auto;
}

div {
/*    width: 100%;*/
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
/*    text-align: center;*/
}
.btn-block{
    background-color:crimson;
    color: skyblue;
}
#maindiv{
    text-align: center;
}

